@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0A043C;
    font-family: 'montserrat';
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    height: 50%;
    background: rgb(173, 53, 182);
    width: 50%;
    border-radius: 120px 30px 120px 30px;
    box-shadow: 2px 0px 9px 0px rgba(255, 255, 255, 0.19);
        -webkit-box-shadow: 2px 0px 9px 0px rgba(255, 255, 255, 0.19);
        -moz-box-shadow: 2px 0px 9px 0px rgba(255, 255, 255, 0.19);
}

#secondPage {
    display: none;
}

#secondPage h1 {
    font-size: 3em;
}

#firstPage h1 {
    font-size: 3em;
}

button {
    border:none;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 1em;
    transition: all ease .2s;
    font-size: 1em;
    color: #0A043C;
    font-weight: bold;
}

button:active, button:hover {
    background: rgb(173, 173, 173);

}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        height: 40%;
    }

    #secondPage {
        font-size: .85em;
    }
}